<footer class="padding-horizontal:8 @@mq-800--padding-vertical:64 background-color:blue-c5e6f9 color:blue-324f6b padding-vertical:32">
    <div class="margin-horizontal:auto max-width:container padding-horizontal:32">
        <p class="@@mq-800--font-size:14 @@mq-800--line-height:1_285 @@mq-800--margin-horizontal:64 @@mq-800--padding-horizontal:32 @@mq-800--text-align:center border-top-style:solid border-top-width:2 font-size:12 letter-spacing:0_33 line-height:1_5 padding-top:24">This is a fictitious company created by LinkedIn Corporation, or its affiliates, solely for the creation and development of educational training materials. Any resemblance to real products or services is purely coincidental. Information provided about the products or services is also fictitious and should not be construed as representative of actual products or services on the market in a similar product or service category.</p>
    </div>
</footer>