@using MyBlazorShop.Libraries.Services.ShoppingCart;
<div id="vue-header" class="quenched">
    <header class="border-bottom-color:neutral-000000 border-bottom-style:solid border-bottom-width:1 display:block padding-vertical:8">
        <div class="margin-horizontal:auto max-width:container padding-horizontal:32">
           <div class="display:flex position:relative align-items:center justify-content:center">
               <a aria-label="Home" href="/" class="display:inline-block"><img alt="Binaryville logo" src="images/logo.svg" class="size:logo-152x78"></a>     
               <NavMenu />
           </div>
       </div>
   </header>
</div>