@using MyBlazorShop.Libraries.Services.ShoppingCart;
@inject IShoppingCartService shoppingCartService
<div id="vue-header" class="quenched">
    <header class="border-bottom-color:neutral-000000 border-bottom-style:solid border-bottom-width:1 display:block padding-vertical:8">
        <div class="margin-horizontal:auto max-width:container padding-horizontal:32">
           <div class="display:flex position:relative align-items:center justify-content:center">
               <a aria-label="Home" href="/" class="display:inline-block"><img alt="Binaryville logo" src="images/logo.svg" class="size:logo-152x78"></a>     
               <NavMenu />
                <div class="display:flex align-items:center pos-right:0 position:absolute">
                <NavLink href="/cart" class="color:neutral-3a3a3d margin-left:8 padding:8 &amp;:hocus--color:orange-ff583d group
                    display:inline-block
                    position:relative
                  " aria-label="Shopping Cart"><svg focusable="false" class="
                    display:inline-block
                    pointer-events:none
                    svg-fill-color:current
                    svg-fill-rule:even-odd
                    vertical-align:bottom
                      size:28
                    ">
                <use xlink:href="#cart"></use></svg>
                </NavLink>

                </div>
           </div>
       </div>
   </header>
</div>