@inherits LayoutComponentBase
<div id="icons-svg" class="visually-hidden">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:link="http://www.w3.org/1999/xlink">
        <symbol id="cart" viewBox="0 0 28 28"><path d="M13.357 21.809a3.274 3.274 0 11-6.404.966c0-.808.293-1.548.78-2.119a3.25 3.25 0 01-.78-2.118c0-.734.242-1.412.652-1.958L2.222 4.26H1.153a1.154 1.154 0 010-2.307h1.824c.476 0 .884.289 1.061.7l1.109 2.54a1.31 1.31 0 01.721-.215h20.07a2.113 2.113 0 011.898 2.928l-.03.075-3.559 8.306a2.102 2.102 0 01-.889 1.006 2.104 2.104 0 01-.943.28h-.001a1.945 1.945 0 01-.216 0h-11.97a.966.966 0 000 1.929h12.104a3.276 3.276 0 013.274 3.273 3.274 3.274 0 11-6.404-.966h-5.845zm-3.129.001a.965.965 0 11-.001 1.93.965.965 0 01.001-1.93zm12.104 0a.965.965 0 11-.001 1.93.965.965 0 01.001-1.93zm3.263-14.525H6.339l3.497 8.004c.129-.015.259-.023.392-.023h11.947l3.42-7.981z"></path></symbol>
    </svg>
</div>
<Header />
@Body
<Footer />