<nav aria-labelledby="main-navigation-desktop-heading" class="display:flex position:absolute margin-left:-12 pos-left:0">
    <h2 id="main-navigation-desktop-heading" class="visually-hidden">Main navigation</h2>
    <ul class="display: flex; align-items\:center">
        <li class="links">
            <NavLink Match="NavLinkMatch.All" href="/">Home</NavLink>
            <NavLink Match="NavLinkMatch.All" href="/cart">Cart</NavLink>
        </li>
    </ul>
</nav>
